.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fff9f9;
}

.reverse .contentSide {
  border-radius: 0 10% 10% 0;
}

.reverse {
  flex-direction: row-reverse;
}

.imageSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9f9;
}

.image {
  max-width: 70%;
  max-height: 100%;
  object-fit: cover;
}

.contentSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c63ff;
  border-radius: 10% 0 0 10%;
}

.card {
  padding: 2.5rem 2rem;
  border-radius: 15px;
  max-width: 450px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .image {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imageSide {
    display: none;
  }

  .contentSide {
    flex: 1;
    border-radius: 0;
    margin: 2%;
  }

  .reverse .contentSide{
    border-radius: 0;
  }
}